
.item{
    background: #FFFFFF;
    margin:20px;
    margin-bottom: 25px;
    border-radius: 14px;
    height: 160px;
}
.item-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 23px;
    padding-top: 15px;
    margin-bottom: 15px;
}
.item-data-1{
    display: flex;
    flex-direction: column;
    margin-left:23px;
    margin-bottom: 18px;
}
.item-data-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 67px;
    margin-bottom: 18px;

}
.item-data-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16 px;
    
    }
.item-data-digit{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px;
}
.item-data-grp{
    display: flex;
    justify-content: space-between;
}