.section-1{
    display: flex;
    flex-direction: column;    
    margin:20px;
    margin-bottom: 22px;
}
.header-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    }
.header-para{
    text-transform: capitalize; 
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.section-2 img{
    width: 100%;
    height: 400px;
   
}
.section-3 img{
    width: 100%;
    height: 400px;
    margin-bottom: 68px;
}