.stateItem{
    padding-bottom: 60px;
    background-color: #E9F8FD;
    margin-top: 22px;
    border-radius: 6px;
     height: 85px;
}
.stateItem-head{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    width: 250px;
    padding-left:11px;
    padding-top: 12px;
}
.group-out{
    padding-top: 15px;
    padding-bottom: 10px;
    
}
.group-in{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    justify-content: space-between;
    margin-left: 11px;
    margin-right: 20px;
}

.grp-in-item-1{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    color: #727272;
}
.grp-in-item-2{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 10px;
color: #727272;
}